[Tt]arget/
.[Vv]ault
.settings/
.classpath
.project
*.prefs
.settings/org.eclipse.jdt.core.prefs
*.iml
.gradle/
/src/test/resources/users.json
/src/test/resources/assets.json
/src/test/resources/assetclassifications.json
/src/main/resources/axs.json
.idea
.DS_Store
out/*
build/

